<a href="https://colab.research.google.com/github/hajbidouae123-maker/DATA-SCIENCE-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("miguelroca/global-health-nutrition-mortality-economic-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/miguelroca/global-health-nutrition-mortality-economic-data?dataset_version_number=1...

100%|██████████| 2.30M/2.30M [00:00<00:00, 88.0MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/miguelroca/global-health-nutrition-mortality-economic-data/versions/1

In [4]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#For ignoring warning
import warnings
warnings.filterwarnings("ignore")

In [9]:
#Checking for Duplicates
df.duplicated().sum()

np.int64(0)

In [8]:
df.shape

(22050, 150)

In [7]:
import os
print(os.listdir(path))
df = pd.read_csv(os.path.join(path, 'UnifiedDataset.csv'))
df

['UnifiedDataset.csv']

,Country,Year,Gender,Life Expectancy,Infant Mortality Rate,Low CI Value Infant Mortality Rate,High CI Value Infant Mortality Rate,Under 5 Mortality Rate,Low CI Value Under 5 Mortality Rate,High CI Value Under 5 Mortality Rate,...,Cereal Consumption Rye,Cereal Consumption Barley,Cereal Consumption Sorghum,Cereal Consumption Maize,Cereal Consumption Wheat,Cereal Consumption Rice,Diet Calories Animal Protein,Diet Calories Plant Protein,Diet Calories Fat,Diet Calories Carbohydrates
0,Afghanistan,1990,Both sexes,50.331,120.4,111.2,130.9,177.7,162.5,194.3,...,NaN,103.0,NaN,201.0,1195.0,174.0,67.80,197.08,435.60,1613.52
1,Afghanistan,1990,Female,51.442,114.2,105.1,124.7,173.1,158.0,189.7,...,NaN,103.0,NaN,201.0,1195.0,174.0,67.80,197.08,435.60,1613.52
2,Afghanistan,1990,Male,49.281,126.2,116.4,137.5,182.0,166.6,199.3,...,NaN,103.0,NaN,201.0,1195.0,174.0,67.80,197.08,435.60,1613.52
3,Afghanistan,1991,Both sexes,50.999,116.8,108.2,126.2,171.7,157.6,186.9,...,NaN,94.0,NaN,164.0,1043.0,159.0,64.96,173.68,370.08,1435.28
4,Afghanistan,1991,Female,52.119,110.7,102.1,120.4,167.1,153.0,182.6,...,NaN,94.0,NaN,164.0,1043.0,159.0,64.96,173.68,370.08,1435.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22045,Zimbabwe,2018,Female,62.598,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22046,Zimbabwe,2018,Male,59.501,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22047,Zimbabwe,2019,Both sexes,61.490,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22048,Zimbabwe,2019,Female,62.899,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22049,Zimbabwe,2019,Male,59.798,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Removing Duplicates
df=df.drop_duplicates()

In [12]:
#Checking for null values
df.isnull().sum()

Country                            0
Year                               0
Gender                             0
Life Expectancy                    0
Infant Mortality Rate           7593
                                ...
Cereal Consumption Rice         9084
Diet Calories Animal Protein    9972
Diet Calories Plant Protein     9972
Diet Calories Fat               9972
Diet Calories Carbohydrates     9972
Length: 150, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22050 entries, 0 to 22049
Columns: 150 entries, Country to Diet Calories Carbohydrates
dtypes: float64(147), int64(1), object(2)
memory usage: 25.2+ MB

In [15]:
df.describe()

,Year,Life Expectancy,Infant Mortality Rate,Low CI Value Infant Mortality Rate,High CI Value Infant Mortality Rate,Under 5 Mortality Rate,Low CI Value Under 5 Mortality Rate,High CI Value Under 5 Mortality Rate,% Death Cardiovascular,Low CI Value % Death Cardiovascular,...,Cereal Consumption Rye,Cereal Consumption Barley,Cereal Consumption Sorghum,Cereal Consumption Maize,Cereal Consumption Wheat,Cereal Consumption Rice,Diet Calories Animal Protein,Diet Calories Plant Protein,Diet Calories Fat,Diet Calories Carbohydrates
count,22050.000000,22050.000000,14457.000000,14457.000000,14457.000000,14457.000000,14457.000000,14457.000000,10800.000000,10800.000000,...,10161.000000,12144.000000,5342.000000,12822.000000,12966.000000,12966.000000,12078.000000,12078.000000,12078.000000,12078.000000
mean,2004.500000,69.011830,33.729899,30.097944,38.143873,48.502710,42.752957,55.672736,22.169139,16.147065,...,17.201063,12.313159,73.021528,181.448214,537.452183,290.820453,134.528544,169.131598,714.624106,1684.262200
std,8.655638,9.691938,32.347492,29.505812,36.258293,53.518014,48.317563,60.642327,9.051913,6.703007,...,50.105988,33.976204,105.262163,253.944113,370.905713,342.077524,81.250777,37.500723,318.400275,231.852571
min,1990.000000,24.834000,1.420000,0.780000,1.780000,1.680000,0.850000,2.220000,4.400000,3.200000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.760000,82.800000,137.790000,892.180000
25%,1997.000000,63.082000,8.400000,7.780000,9.040000,9.860000,9.150000,10.600000,15.600000,11.600000,...,0.000000,0.000000,5.000000,21.000000,234.000000,48.000000,62.280000,143.760000,456.840000,1532.980000
50%,2004.500000,71.134000,21.410000,18.450000,24.440000,25.280000,21.820000,29.160000,21.300000,14.800000,...,0.000000,2.000000,24.000000,78.000000,501.000000,129.000000,119.400000,163.840000,657.135000,1684.750000
75%,2012.000000,76.254000,50.390000,43.890000,57.690000,70.700000,59.820000,82.810000,27.200000,19.300000,...,5.000000,9.000000,101.000000,230.000000,771.000000,437.750000,201.480000,189.960000,923.040000,1825.040000
max,2019.000000,87.747000,189.200000,173.300000,207.600000,331.100000,309.400000,354.400000,64.100000,50.800000,...,598.000000,486.000000,588.000000,1435.000000,1769.000000,1754.000000,405.160000,330.760000,1542.240000,2564.870000

In [17]:
print(df.columns.tolist())

['Country', 'Year', 'Gender', 'Life Expectancy', 'Infant Mortality Rate', 'Low CI Value Infant Mortality Rate', 'High CI Value Infant Mortality Rate', 'Under 5 Mortality Rate', 'Low CI Value Under 5 Mortality Rate', 'High CI Value Under 5 Mortality Rate', '% Death Cardiovascular', 'Low CI Value % Death Cardiovascular', 'High CI Value % Death Cardiovascular', 'Suicides Rate', 'Alcohol Abuse', 'Air Pollution Death Rate Stroke', 'Low CI Value Air Pollution Death Rate Stroke', 'High CI Value Air Pollution Death Rate Stroke', 'Air Pollution Death Rate Stroke Age Standarized', 'Low CI Value Air Pollution Death Rate Stroke Age Standarized', 'High CI Value Air Pollution Death Rate Stroke Age Standarized', 'Air Pollution Death Rate Ischaemic Heart Disease', 'Low CI Value Air Pollution Death Rate Ischaemic Heart Disease', 'High CI Value Air Pollution Death Rate Ischaemic Heart Disease', 'Air Pollution Death Rate Ischaemic Heart Disease Age Standarized', 'Low CI Value Air Pollution Death Rate Ischaemic Heart Disease Age Standarized', 'High CI Value Air Pollution Death Rate Ischaemic Heart Disease Age Standarized', 'Air Pollution Death Rate Lower Respiratory Infections', 'Low CI Value Air Pollution Death Rate Lower Respiratory Infections', 'High CI Value Air Pollution Death Rate Lower Respiratory Infections', 'Air Pollution Death Rate Lower Respiratory Infections Age Standarized', 'Low CI Value Air Pollution Death Rate Lower Respiratory Infections Age Standarized', 'High CI Value Air Pollution Death Rate Lower Respiratory Infections Age Standarized', 'Air Pollution Death Rate Chronic Obstructive Pulmonary Disease', 'Low CI Value Air Pollution Death Rate Chronic Obstructive Pulmonary Disease', 'High CI Value Air Pollution Death Rate Chronic Obstructive Pulmonary Disease', 'Air Pollution Death Rate Chronic Obstructive Pulmonary Disease Age Standarized', 'Low CI Value Air Pollution Death Rate Chronic Obstructive Pulmonary Disease Age Standarized', 'High CI Value Air Pollution Death Rate Chronic Obstructive Pulmonary Disease Age Standarized', 'Air Pollution Death Rate Total', 'Low CI Value Air Pollution Death Rate Total', 'High CI Value Air Pollution Death Rate Total', 'Air Pollution Death Rate Total Age Standarized', 'Low CI Value Air Pollution Death Rate Total Age Standarized', 'High CI Value Air Pollution Death Rate Total Age Standarized', 'Air Pollution Death Rate Trachea Bronchus Lung Cancers', 'Low CI Value Air Pollution Death Rate Trachea Bronchus Lung Cancers', 'High CI Value Air Pollution Death Rate Trachea Bronchus Lung Cancers', 'Air Pollution Death Rate Trachea Bronchus Lung Cancers Age Standarized', 'Low CI Value Air Pollution Death Rate Trachea Bronchus Lung Cancers Age Standarized', 'High CI Value Air Pollution Death Rate Trachea Bronchus Lung Cancers Age Standarized', 'Unsafe Wash Mortality Rate', 'Poisoning Mortality Rate', 'Tobacco Prevalence', '% Population Aged 0-14', '% Population Aged 15-64', '% Population Aged 65+', '% Population Aged 65-69', '% Population Aged 70-74', '% Population Aged 75-79', '% Population Aged 80+', 'Maternal Mortality Ratio', 'Low CI Value Maternal Mortality Ratio', 'High CI Value Maternal Mortality Ratio', '% of Births Attended By Skilled Personal', 'Neonatal Mortality Rate', 'Low CI Value Neonatal Mortality Rate', 'High CI Value Neonatal Mortality Rate', 'Incidence of Malaria', 'Incidence of Tuberculosis', 'Low CI Value Incidence of Tuberculosis', 'High CI Value Incidence of Tuberculosis', 'Hepatitis B Surface Antigen', 'Low CI Value Hepatitis B Surface Antigen', 'High CI Value Hepatitis B Surface Antigen', 'Intervention Against NTDs', 'Road Traffic Deaths', 'Reproductive Age Women', 'Adolescent Birth Rate', 'Universal Heath Care Coverage', 'Population 10 Percentage SDG Total', 'Population 10 Percentage SDG Urban', 'Population 10 Percentage SDG Rural', 'Population 25 Percentage SDG Total', 'Population 25 Percentage SDG Urban', 'Population 25 Percentage SDG Rural', 'Doctors', 'Nurses and Midwifes', 'Dentists', 'Pharmacists', 'Basic Drinking Water Services', 'Basic Sanization Services Total', 'Basic Sanization Services Urban', 'Basic Sanization Services Rural', 'Safely Sanitation Total', 'Safely Sanitation Urban', 'Safely Sanitation Rural', 'Basic Hand Washing Total', 'Basic Hand Washing Urban', 'Basic Hand Washing Rural', 'Clean Fuel and Technology', 'Birth Rate', 'Battle Related Deaths', '% Injury Deaths', 'Death Rate', 'GDP per Capita', '% Population $1.90 a day', '% Population $3.20 a day', '% Population $5.50 a day', 'Income per Capita', 'Total Population', 'GNI per Capita', 'Conflict and Terrorism Deaths', 'Homicide Rate', 'Government Expenditure Education', 'Government Expenditure Military', 'Government Expenditure Health', 'Diet Composition Alcoholic Beverages', 'Diet Composition Other', 'Diet Composition Sugar', 'Diet Composition Oils And Fats', 'Diet Composition Meat', 'Diet Composition Dairy And Eggs', 'Diet Composition Fruit And Vegetables', 'Diet Composition Starchy Roots', 'Diet Composition Pulses', 'Diet Composition Cereals And Grains', 'Vegetable Consumption', 'Fruit Consumption Plantains', 'Fruit Consumption Other', 'Fruit Consumption Bananas', 'Fruit Consumption Dates', 'Fruit Consumption Other Citrus', 'Fruit Consumption Oranges And Mandarines', 'Fruit Consumption Apples', 'Fruit Consumption Lemons And Limes', 'Fruit Consumption Grapes', 'Fruit Consumption Grapefruit', 'Fruit Consumption Pineapples', 'Cereal Consumption Oats', 'Cereal Consumption Rye', 'Cereal Consumption Barley', 'Cereal Consumption Sorghum', 'Cereal Consumption Maize', 'Cereal Consumption Wheat', 'Cereal Consumption Rice', 'Diet Calories Animal Protein', 'Diet Calories Plant Protein', 'Diet Calories Fat', 'Diet Calories Carbohydrates']

In [18]:
#Let's check what's happened now
df

,Country,Year,Gender,Life Expectancy,Infant Mortality Rate,Low CI Value Infant Mortality Rate,High CI Value Infant Mortality Rate,Under 5 Mortality Rate,Low CI Value Under 5 Mortality Rate,High CI Value Under 5 Mortality Rate,...,Cereal Consumption Rye,Cereal Consumption Barley,Cereal Consumption Sorghum,Cereal Consumption Maize,Cereal Consumption Wheat,Cereal Consumption Rice,Diet Calories Animal Protein,Diet Calories Plant Protein,Diet Calories Fat,Diet Calories Carbohydrates
0,Afghanistan,1990,Both sexes,50.331,120.4,111.2,130.9,177.7,162.5,194.3,...,NaN,103.0,NaN,201.0,1195.0,174.0,67.80,197.08,435.60,1613.52
1,Afghanistan,1990,Female,51.442,114.2,105.1,124.7,173.1,158.0,189.7,...,NaN,103.0,NaN,201.0,1195.0,174.0,67.80,197.08,435.60,1613.52
2,Afghanistan,1990,Male,49.281,126.2,116.4,137.5,182.0,166.6,199.3,...,NaN,103.0,NaN,201.0,1195.0,174.0,67.80,197.08,435.60,1613.52
3,Afghanistan,1991,Both sexes,50.999,116.8,108.2,126.2,171.7,157.6,186.9,...,NaN,94.0,NaN,164.0,1043.0,159.0,64.96,173.68,370.08,1435.28
4,Afghanistan,1991,Female,52.119,110.7,102.1,120.4,167.1,153.0,182.6,...,NaN,94.0,NaN,164.0,1043.0,159.0,64.96,173.68,370.08,1435.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22045,Zimbabwe,2018,Female,62.598,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22046,Zimbabwe,2018,Male,59.501,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22047,Zimbabwe,2019,Both sexes,61.490,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22048,Zimbabwe,2019,Female,62.899,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22049,Zimbabwe,2019,Male,59.798,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22050 entries, 0 to 22049
Columns: 150 entries, Country to Diet Calories Carbohydrates
dtypes: float64(147), int64(1), object(2)
memory usage: 25.2+ MB